html{
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
  }
  /* fix */
  #root{
      height: 100%;
      width: 100%;
  }
/* fix */
  img {
    width: 100%;
  }

  .grid-container{
    display: grid;
    grid-template-areas: 
    'header' 
    'main' 
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
  }
  
  .header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  .header-links a{
    color: #ffffff;
    text-decoration: none;
  }
  .header-links a:hover{
  color: #ff8000;
  }
  
  .brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  .main{
    grid-area: main;
  }
  .footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Product Details */

  .details{
      display: flex;
      justify-content:  space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      /* margin-left: 20%; */
      padding: 1rem;

  }

  .details-image{
      flex: 2 1 60rem;
      
  }

  .details-image img{
      max-width: 60rem;
      width: 100%;
  }
  .details-info{
    flex: 1 1 30rem;
}
.details-action{
    flex: 1 1 30rem;
    
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
    padding: 1rem;
  }
  .details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
  }

  .details-action ul li:last-child {
    display: flex;
    flex-direction: column;
  }
  .button {
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .button:hover {
    border: 0.1rem #404040 solid;
  }

  .button.primary {
    background-color: #f0c040;
  }

  .button.secondary {
    background-color: #f0f0f0;
  }

  .text-center {
    text-align: center;
  }

  .cart-image{
    height: 100px;
    width: 100px;
  }

  .cart-list
  {
    text-align: center;
  }

  #cartTable{
    margin: auto;
    padding: 25px;
    text-align: left;
  }

  #cartTable tr td{
    margin-bottom: 100px;
  }
  